
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administrator Page</h1>
<div class="text-center">
    <a class="badge" style="font-size: 18px" asp-action="ManageUser" asp-controller="Home">Manage Users</a>
    <a class="badge" style="font-size: 18px" asp-action="ManageBook" asp-controller="Home">Manage Books</a>
</div>
