
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Book

<h1>CheckOut</h1>

<p>
    You have checked out @Model.Title.
</p>

<a class="badge" style="font-size: 18px; padding-top: 10px" asp-action="Index" asp-controller="Home">Return to Menu</a>

