
@{
    ViewData["Title"] = "Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Book>

<h1>Return</h1>
<table>
    @{
        foreach (Book check in Model)
        {
            <tr>
                <td>
                    @check.Title
                </td>
                @if (ViewBag.Message != null) {
                    <td>@ViewBag.Message</td>
                }
                else
                {
                    <td>Due: @ViewBag.Due</td>
                }
            <td><button class="badge-info" value="Return" onclick="location.href='@Url.Action("ReturnBook","Home", new { book = check.Title})'">Check Out</button></td>
                
            </tr>
        }

    }
</table>

