@using System.Text.Json 

@{
    ViewData["Title"] = "Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Transaction>

<h1>Return</h1>
@if (Model != null)
{
<table>
    @{
        foreach (Transaction check in Model)
        {
            <tr>
                <td>
                    @{ 
                        Book tempBook = JsonSerializer.Deserialize<Book>(check.Booktitle);
                    } 
                    @tempBook.Title
                </td>
                @if (check.Duedate < DateTime.Today)
                {
                    <td><b>Your book is overdue!</b></td>
                }
                else
                {
                    <td>Due: @check.Duedate</td>
                }
                <td><button class="badge-info" value="Return" onclick="location.href='@Url.Action("ReturnBook","Home", new { book = tempBook.Title})'">Return Book</button></td>

            </tr>
        }

    }
</table>
        }
        else
        {
            <p>You currently have no books checked out.</p>
        }

<a class="badge" style="font-size: 18px" asp-action="Index" asp-controller="Home">Return to Menu</a>


