
@{
    ViewData["Title"] = "Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Book>

<h1>Return</h1>
@if (Model != null)
{
<table>
    @{
        foreach (Book check in Model)
        {
            <tr>
                <td>
                    @check.Title
                </td>
                @if (ViewBag.Message != null)
                {
                    <td>@TempData.Peek("Message")</td>
                }
                else
                {
                    <td>Due: @TempData.Peek("Date")</td>
                }
                <td><button class="badge-info" value="Return" onclick="location.href='@Url.Action("ReturnBook","Home", new { book = check.Title})'">Return Book</button></td>

            </tr>
        }

    }
</table>
        }
        else
        {
            <p>You currently have no books checked out.</p>
        }


