
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>

<form asp-action="addBook" asp-controller="Home">
    <table align="center">
        <tr>
            <td>Title: <input type="text" name="title"/></td>
        </tr>
        <tr>
            <td>Author: <input type="text" name="author"/></td>
        </tr>
        <tr>
            <td>Genre: <input type="text" name="genre"/></td>
        </tr>
        <tr>
            <td>Number of Books: <input type="text" name="available"/></td>
        </tr>
        <tr>
            <td>Media Type: <input type="text" name="type"/></td>
        </tr>
    </table>
    <button type="submit">Add New Book</button>
</form>
<a class="badge" style="font-size: 18px" asp-action="Index" asp-controller="Home">Return to Menu</a>

