
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>

<form>
    <table align="center">
        <tr>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td><input type="text" /></td>
        </tr>
    </table>
</form>

